user_config.json
**/__pycache__/
data/dump/
output/*
!output/image/
!output/image/*
RQ1/dataset_selection_test.ipynb
slurm*
cache/
RQ1/_WordIdentity/
run_knn_2.sh
RQ1/check_hidden_size.py
RQ1/classification2.py
RQ1/classification3.py
RQ1/ko_dict.csv
RQ1/opensubtitles_cistem_freq.csv
RQ1/test_load_model.py
RQ1/WordIdentity/opensubtitles_cistem_freq.csv
RQ1/ComponentAnalysis/attention_dataset.ipynb
RQ1/WordIdentity/_cross_lingual.ipynb
RQ1/WordIdentity/_dataset_selection.ipynb

model/vis_model_archi.ipynb
model/layer_sizes.csv
model/check_hidden_size.py
.vscode/launch.json
run_gsm8k_en_evals.sh
dummy/
.vscode/